@import "../../App";

#main_header {

  //move the nav when the user scroll
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  margin-bottom: 20px;
  background-color: #eab023;
  color: #000;

  .no-link-style {
    color: inherit;
    text-decoration: none;

    .store_logo {
      margin-left: 20px;
      text-decoration: none;
      font-size: 30px;
      font-weight: bold;
    }

  }

  nav {
    margin-left: auto;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      font-size: 20px;

      li {
        margin-right: 20px;

        a {
          color: inherit;
          text-decoration: none;
        }

        .icons {
          width: 24px;
          height: 24px;
          margin: 8px;
        }

        button {
          background-color: transparent;
          border-color: transparent;
          font-size: 20px;
        }
      }
    }
  }
}


//Dark mode
.dark-mode #main_header {

  background-color: $dark-mode-black;
  color: $dark-mode-light-grey;

  .store_logo {
    color: $dark-mode-light-grey;
  }

  button {
    color: $dark-mode-light-grey;
  }

}

