#main_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  margin-bottom: 20px;
  background-color: #eab023;
  color: #000;
}

#main_header h1 {
  margin-left: 20px;
}