.profile_form {
  max-width: 1500px; /* Specify the maximum width of the entire page */
  padding: 0 10px; /* Provide margins on the left and right sides of the entire page. */

  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.5rem;
    font-size: 20px;
  }

  input {
    margin-bottom: 1rem;
    margin-left: 5px;
    border-radius: 3px;
  }

  button {
    max-width: 80px;
    margin-top: 10px;
    font-size: 20px;
  }

  .error-message {
    max-width: fit-content;
  }
}

